[buildout]

parts +=
    mapserver
    MapScript
    GDAL

[mapserver]
recipe = hexagonit.recipe.cmmi
#version = 6.2.1
version = 7.0.6
url = http://download.osgeo.org/mapserver/mapserver-${:version}.tar.gz
keep-compile-dir = true
configure-command = cd ./build && cmake ..
pre-configure-hook = /srv/BCCVL_Visualiser/BCCVL_Visualiser/buildout.d/cmake-tools.py:make_build_dir
make-targets = all
configure-options =
	-DCMAKE_PREFIX_PATH=/usr/local:/usr
    -DWITH_WFS=ON
    -DWITH_WCS=ON
    -DWITH_PROJ=ON
    -DWITH_GDAL=ON
    -DWITH_OGR=ON
    -DWITH_PYTHON=ON

#    --with-wfs
#    --with-wcs
#    --with-proj=yes
#    --with-gdal=yes
#    --with-ogr=yes
##    --with-freetype=/usr/lib64
##    --with-png=/opt/local
##    --with-gif=/opt/local
##    --with-jpeg=/opt/local
##    --with-proj=/opt/local

[MapScript]
#recipe = zc.recipe.egg
recipe = zc.recipe.egg:custom
egg = MapScript
find-links = file://${mapserver:compile-directory}/mapserver-${mapserver:version}/mapscript/python#egg=MapScript-${mapserver:version}
setup = ./bin/python ${mapserver:compile-directory}/${mapserver:version}/mapscript/python/setup.py build

[GDAL]
recipe = zc.recipe.egg:custom
egg = GDAL
include-dirs = /usr/include/gdal
